<table id="orders" data-supplier_id="<%= @supplier.id %>">
  <thead>
    <tr>
      <td></td>
      <td><%= 2.hour.from_now.to_s(:short) %></td>
      <td><%= text_field :order, :created_by %></td>
      <td><%= text_field :order, :good %></td>
      <td><%= text_field :order, :size %></td>
      <td><%= text_field :order, :color %></td>
      <td><%= text_field :order, :quantity %></td>
      <td><%= text_field :order, :case_number %></td>
      <td><%= text_field :order, :ordered_at, :disabled => true %></td>
      <td><%= text_field :order, :ordered_by, :disabled => true %></td>
      <td><%= text_field :order, :remarks %><input name="create" type="submit" style="display: none;"></td>
    </tr>
  </thead>
  <tbody>
    <%= render @orders %>
  </tbody>
</table>
