<table id="orders" data-supplier_id="<%= @supplier.id %>">
  <thead>
    <tr>
      <td></td>
      <td><%= 2.hour.from_now.to_s(:short) %></td>
      <td><%= text_field :order, :created_by %></td>
      <td><%= text_field :order, :good %></td>
      <td><%= text_field :order, :size %></td>
      <td><%= text_field :order, :color %></td>
      <td><%= text_field :order, :quantity %></td>
      <td><%= text_field :order, :case_number %></td>
      <td><%= text_field :order, :ordered_at, :disabled => true %></td>
      <td><%= text_field :order, :ordered_by, :disabled => true %></td>
      <td><%= text_field :order, :remarks %><input name="create" type="submit" style="display: none;"></td>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= check_box_tag 'order_ids[]', order.id, false, :id => dom_id(order) %></td>
        <td><%= link_to (order.created_at + 2.hour).to_s(:short), edit_supplier_order_path(@supplier, order) %></td>
        <td><%= order.created_by %></td>
        <td><%= order.good %></td>
        <td><%= order.size %></td>
        <td><%= order.color %></td>
        <td><%= order.quantity %></td>
        <td><%= order.case_number %></td>
        <td><%= order.ordered_at.to_s(:short) if order.ordered_at %></td>
        <td><%= order.ordered_by %></td>
        <td><input name="remark" type="submit" value="<%= order.remarks %>" data-default="<%= order.remarks %>" data-order_id="<%= order.id %>" data-prompt="Bem&aelig;rkninger?" /></td>
      </tr>
    <% end %>
  </tbody>
</table>
