<% form_for @supplier, :html => { :class => 'member' } do |f| %>
  <fieldset>
    <legend><%= raw(@supplier.new_record? ? 'Ny leverand&oslash;r' : "Redig&eacute;r leverand&oslash;r <span class=\"#{@supplier.kind}\">#{@supplier.name}</span>") %></legend>
    <ol>
      <li>
        <%= f.label :name, 'Navn', :class => 'required' %>
        <%= f.text_field :name %>
      </li>
      <li>
        <%= f.label :customer_id, 'Bazes kundenr.' %>
        <%= f.text_field :customer_id %>
      </li>
      <li>
        <%= f.label :contact, 'Kontakt' %>
        <%= f.text_area :contact %>
      </li>
      <li>
        <%= f.label :email, 'Email-adresse' %>
        <%= f.text_field :email %>
      </li>
      <li>
        <%= f.label :return_policy, 'Returpolitik' %>
        <%= f.text_area :return_policy %>
      </li>
      <li>
        <%= f.label :remarks, raw('Bem&aelig;rkninger') %>
        <%= f.text_area :remarks %>
      </li>
      <li>
        <fieldset>
          <legend class="required">Er denne leverand&oslash;r <span class="business">erhverv</span> eller <span class="shop">butik</span>?</legend>
          <label class="business"><%= f.radio_button :kind, 'business' %> Erhverv</label>
          <label class="shop"><%= f.radio_button :kind, 'shop' %> Butik</label>
        </fieldset>
      </li>
    </ol>
    <%= f.submit raw(@supplier.new_record? ? 'Opret leverand&oslash;r' : 'Opdat&eacute;r leverand&oslash;r') %>
  </fieldset>
<% end %>
