<html>
  <head>
    <title>Baze IntraNet</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <% 2.times do %>
      <div id="business"<%= cycle '', raw(' class="hidden"') %>>
        <ul class="nav">
          <%= render Supplier.business %>
          <li><%= link_to '+', new_supplier_path %></li>
        </ul>
      </div>
    <% end %>

    <%= yield %>

    <% 2.times do %>
      <div id="shop"<%= cycle '', raw(' class="hidden"') %>>
        <ul class="nav">
          <%= render Supplier.shop %>
          <li><%= link_to '+', new_supplier_path %></li>
        </ul>
      </div>
    <% end %>
        
  </body>
</html>
