<html>
  <head>
    <title>Baze IntraNet</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <% 2.times do %>
      <div id="business"<%= cycle '', raw(' class="hidden"') %>>
        <ul class="nav">
          <%= render Supplier.business %>
          <li><%= link_to '+', new_supplier_path %></li>
        </ul>

        <% if params[:action] == 'show' %>
          <div>
            <%= content_tag :div, @supplier.name, :id =>'supplier_name', :class => @supplier.kind %>
            <div id="supplier_customer_id"><%= @supplier.customer_id %></div>
          </div>

          <div id="supplier_contact">
            <%= @supplier.contact %><br />
            <%= @supplier.phone %><br />
            <%= mail_to @supplier.email %><br />
          </div>

          <div class="text">
            <strong>Returpolitik</strong>
            <%= @supplier.return_policy %>
          </div>

          <div class="text">
            <strong>Bem&aelig;rkninger</strong>
            <%= @supplier.remarks %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

    <% 2.times do %>
      <div id="shop"<%= cycle '', raw(' class="hidden"') %>>
        <ul class="nav">
          <%= render Supplier.shop %>
          <li><%= link_to '+', new_supplier_path %></li>
        </ul>
      </div>
    <% end %>
        
  </body>
</html>
