<html>
  <head>
    <title>Baze IntraNet</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  <body>

    <% 2.times do %>
      <div id="business"<%= cycle '', raw(' class="hidden"') %>>
        <ul class="nav">
          <%= render Supplier.business %>
          <li><%= link_to '+', "#{new_supplier_path}/business" %></li>
        </ul>

        <div>
          <%= content_tag :div, @supplier.name, :id =>'supplier_name', :class => @supplier.kind %>
          <div id="supplier_customer_id"><%= @supplier.customer_id %></div>
        </div>

        <div class="text">
          <strong>Kontaktoplysninger</strong>
          <%= @supplier.contact %>
          <%= mail_to @supplier.email %>
        </div>

        <div class="text">
          <strong>Returpolitik</strong>
          <%= @supplier.return_policy %>
        </div>

        <div class="text">
          <strong>Bem&aelig;rkninger</strong>
          <%= @supplier.remarks %>
        </div>
      </div>
    <% end %>

    <%= form_tag orders_update_supplier_path(@supplier) do %>
      <%= yield %>

      <% 2.times do %>
        <div id="shop"<%= cycle '', raw(' class="hidden"') %>>
          <div id="actions">
            Med valgte:
            <input name="create" type="submit" style="display: none;">
            <input name="ordered_by" disabled="disabled" type="submit" value="Bestilt af ..." data-prompt="Dine initialer?">
            <input name="cancel" disabled="disabled" type="submit" value="Afbestil" data-prompt="Begrundelse for afbestilling?">
            <input name="copy" disabled="disabled" type="submit" value="Kopi&eacute;r">
            <input name="delete" disabled="disabled" type="submit" value="Slet" data-confirm="Slet valgte ordrer?">
          </div>

          <ul class="nav">
            <%= render Supplier.shop %>
            <li><%= link_to '+', "#{new_supplier_path}/shop" %></li>
          </ul>
        </div>
      <% end %>
    <% end %>
        
  </body>
</html>
